appdirs==1.4.2
arrow==0.4.4
contextlib2==0.5.4
elasticsearch==1.2.0
Flask==0.10.1
gitdb2==2.0.0
GitPython==2.1.1
itsdangerous==0.24
Jinja2==2.9.5
jsonpickle==0.8.0
lockfile==0.10.2
MarkupSafe==0.23
mock==1.0.1
packaging==16.8
PyGithub==1.25.1
pyparsing==2.1.10
python-dateutil==2.6.0
python-ldap==2.4.16
PyYAML==3.11
raven==5.26.0
requests==1.1.0
six==1.10.0
smmap2==2.0.1
urllib3==1.20
Werkzeug==0.11.15
